<div class="LeaveHistory mt-3">
    <div class="card mb-5">
        <div class="d-flex flex-wrap justify-content-between">
            <h5 class="fw-bold mb-3">สถิติการลาประจำเดือน</h5>
            <button class="btn Export" (click)="exportExcel()">Export Excel</button>
        </div>
        <span>ข้อมูลการลาของพนักงานทั้งหมด</span>
    </div>
    <div class="card mb-5">
        <span>เลือกประเภทการลา</span>
        <div class="input-group mt-2">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-check-all"></i>
            </span>
            <select class="form-control" (ngModelChange)="filterRequests()" [(ngModel)]="type">
                <option disabled selected value="">ประเภทการลา</option>
                <option value="ลาป่วย">ลาป่วย</option>
                <option value="ลาพักร้อน">ลาพักร้อน</option>
                <option value="ลากิจ">ลากิจ</option>
            </select>
        </div>

        <span class="mt-3">สถานะ</span>
        <div class="input-group mt-2">
            <span class="input-group-text bg-white border-end-0">
                <i class="bi bi-hourglass-split"></i>
            </span>
            <select class="form-control" (ngModelChange)="filterRequests()" [(ngModel)]="status">
                <option disabled selected value="">สถานะ</option>
                <option value="PENDING">รออนุมัติ</option>
                <option value="APPROVED">อนุมัติ</option>
                <option value="REJECTED">ไม่อนุมัติ</option>
            </select>
        </div>
    </div>

    <div class="card mb-5">
        <h5 class="fw-bold mb-3">สรุปการลาตามประเภท</h5>
        <div #chart style="width: 100%; height: 400px;"></div>
    </div>

    <div class="card mb-5">
        <h5 class="fw-bold mb-3">รายละเอียดการลารายบุคคล</h5>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-primary ">
                    <tr>
                        <th>ชื่อ-นามสกุล</th>
                        <th>แผนก</th>
                        <th>ลาป่วย</th>
                        <th>ลาพักร้อน</th>
                        <th>ลากิจ</th>
                        <th>รวม</th>
                    </tr>
                </thead>
                <tbody class="table-light">
                    <tr *ngFor="let sum of leavesum">
                        <td>{{sum.username}}</td>
                        <td>{{sum.department}}</td>
                        <td>{{sum.sick}}</td>
                        <td>{{sum.holiday}}</td>
                        <td>{{sum.busy}}</td>
                        <td>{{sum.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
