.card {
    background-color: #ffffff;
    border-radius: 12px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 15px 28px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: left;
}
.heading {
    font-size: 22px;
    font-weight: bold;
}

.LeaveList {
    margin-top: 100px;
}

.status{
    color: rgb(0, 0, 0);
    padding: 6px 16px;
    border-radius: 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bg-success {
    background-color: #b0e7a0 !important;
}
.bg-warning {
    background-color: #ffe9a6 !important;
}
.bg-danger {
    background-color: #fe96a1 !important;
}

.form-select{
    width: 20%;
}

/* Calendar */
.calendar {
    border-radius: 16px;
    background: #fff;
    font-family: 'Sarabun', sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  .calendar .fc-daygrid-day-number {
    font-size: 12px;
    color: #444;
    padding: 4px;
  }
  
  .calendar .fc-event {
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 8px;
    background: #000000;
    color: #fff;
    border: none;
  }
  
  .calendar .fc-scrollgrid,
  .calendar .fc-scrollgrid td {
    border-color: #e0e0e0 !important;
  }